<%- include("./partials/top.ejs") %>

<form
  action="/upload"
  method="POST"
  class="form"
  enctype="multipart/form-data"
>
  <div class="card">
    <h1>Upload your image</h1>
    <p>File should be Jpeg, Png, ...</p>
    <div id="dragArea">
      <input
        type="file"
        id="fileInput"
        name="<%= img_field %>"
        accept="image/*"
        onchange="handleSubmit()"
      />
      <img src="/image.svg" alt="mountain" />
      <p>Drag & Drop your image here</p>
    </div>
    <p class="or">or</p>
    <label class="btn" for="fileInput">Choose a file</label>
  </div>
</form>

<%- include("./partials/footer.ejs") %> <%- include("./partials/bottom.ejs") %>
