<%- include("./partials/top.ejs") %>

<div class="card">
  <h1>Uploading...</h1>
  <progress id="progress-bar" max="100" value="0"></progress>
</div>

<%- include("./partials/footer.ejs") %> 
<%- include("./partials/bottom.ejs") %>